@layer reset, base, tokens, recipes, utilities;

#root {
  /* required for base-ui popovers to work */
  isolation: isolate;
}

html,
body,
#root {
  background-color: #111112;
  height: 100%;
}

body {
  color: #d4d4d4;
}

#root {
  display: flex;
  flex-direction: column;
}
